.container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16,25px);
    gap: 5px
}

.grid *{
    background-color: antiquewhite;
    border: 2px solid brown;
}

.etched{
    background-color: brown;
    border-color: antiquewhite;
}